<center><strong>AIMS Rwanda</strong>

# Containers

## Lists

### Definition : 
- <u> Simple lists </u> : (one-dimensional lists)

Whose elements consists of unique values separated by commas :

In [11]:
my_list = [23,29,7,9,0]
my_list

[23, 29, 7, 9, 0]

In [12]:
type (my_list)

list

- <u>Multidimensional lists </u> : 

A list where the individual elements consists of multiple values. In general, a multidimensional list is presented as a <i>list of lists</i>

In [10]:
x = [[1,2,3],[2,3,4],[3,4,5]] # 2D list

y = [[[1,2],[2,3]],[[4,5],[5,6]]] # 3D list

print(x)
print(y)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]
[[[1, 2], [2, 3]], [[4, 5], [5, 6]]]

A list is a sequence of indexed values 

 $\Rightarrow$ it is possible to access each value by specifying their index :

In [19]:
z = list (('Monday', 'September', 12, 1800, 2.14, 'Thursday', 'friday'))
print (z)

['Monday', 'September', 12, 1800, 2.14, 'Thursday', 'friday']

In [25]:
print (z[0]) # first element

print (z[1]) # second element

print (z[-1]) # last element

print (z[-2]) # second from last

print (z[1:-2:]) # from : to : by

print (z[::2]) # "to" is exclusive, no argument if we want all elements

print (z[::-1]) # from the last element to the first

Monday
September
friday
Thursday
['September', 12, 1800, 2.14]
['Monday', 12, 2.14, 'friday']
['friday', 'Thursday', 2.14, 1800, 12, 'September', 'Monday']

### The `range()` function :

Creates a sequence : `range (start,stop,step)`

By default, start is `0`

In [11]:
seq1 = list(range(10))
seq2 = list(range (1,20,3))
print (seq1)
print(seq2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7, 10, 13, 16, 19]

### Operations on lists :

#### - Length : `len()`

In [33]:
len(seq1)

10

#### - Sorting method : `my_list.sort()` 

Be careful, this methods changes the variable !!

In [42]:
x = [1,8,4,7,3,14,167,2]
x.sort()
y = ["a", "b", "c", "d"]
y.sort(reverse=True)
x ,y

([1, 2, 3, 4, 7, 8, 14, 167], ['d', 'c', 'b', 'a'])

In [60]:

x = [1,8,4,7,3,14,167,2, 9-16]
x.sort(key=str)
x

[-7, 1, 14, 167, 2, 3, 4, 7, 8]

#### - Concatenation : `+`

####

In [61]:
x+y

[-7, 1, 14, 167, 2, 3, 4, 7, 8, 'd', 'c', 'b', 'a']

#### - Adding elements : `append` ; `extend`

In [66]:
x = [1,8,4,7,3,14,167,2, 9]
x.append(69) # for one element
x

[1, 8, 4, 7, 3, 14, 167, 2, 9, 69]

In [67]:
x.extend([3,42,90]) # for multiple elements
x

[1, 8, 4, 7, 3, 14, 167, 2, 9, 69, 3, 42, 90]

We can make valid operations directly within the elements of the lists by indexing them :

In [68]:
y[2] = y[2]+"bla bla"
y

['d', 'c', 'bbla bla', 'a']

 - The `insert()` method :

Insert a value before the index specified

In [2]:
my_list = ["Mirija", "Kenny", "Paul"]
my_list.insert(1, "Tsial") # insert Tsial before Kenny
my_list

['Mirija', 'Tsial', 'Kenny', 'Paul']

- The `remove()` method : 

Remove the first occurence of the value in the list. Raises an error if the value is not in the list

In [3]:
my_list.remove("Tsial")
my_list

['Mirija', 'Kenny', 'Paul']

- The `index()` method : 

Returns the index of the first occurence of the value 

can specify the range of search : `index(value,start = , stop = )`

In [10]:
my_list.index("Paul")

2

- The `pop()` method :

Removes and return the item at the given index (-1 by default)

In [13]:
seq1.pop(3)

3

In [16]:
?seq1.pop

Signature: seq1.pop(index=-1, /)
Docstring:
Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.
Type:      builtin_function_or_method

 - The `count()` method : 
 
 Return number of occurrences of value.

In [15]:
?seq2.count

Signature: seq2.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [1]:
seq = [1,2,3,1,4,5,1,4,3]
seq.count(3)

2

- The `zip` function

combine multiple iterables

In [12]:
list1 = [1,2,3]
list2 = ['a','b','c']
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

- The `join()` method : 

takes a list (or any iterable) of strings and concatenates them into one string, inserting the chosen separator between each element.

In [13]:
words = ["Learning", "Python", "is", "cool"]
separator = " " # separate by a space
separator.join(words)

'Learning Python is cool'